#canvas1{
    /*border: 5px solid black;*/
    position: relative;
    width: 1200px;
    height: 600px;
}

#container{
    position: absolute;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    font-size: 25px;
}

#slider{
    width: 100%;
    
}
p{
    color: black;
}